.paginator {
    margin: 10px 0;
}

.paginator button{
    cursor: pointer;
}

.pageNumber {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    border: 1px solid grey;
    cursor: pointer;
    min-width: 20px;
    height: auto;
}

.pageNumber.selectedPage {
    font-weight: bold;
    border-color: black;
    cursor: pointer;
}

.prev{
    margin-right: 10px;
}
.next{
    margin-left: 10px;
}