.header {
  position: relative;
  display: flex;
  align-items: center;
  grid-area: header;
  height: 60px;
  background: rgb(19, 175, 164);
}


  .logo svg{
    margin-left: 10px;
    width: 45px;
    height: 45px;
    fill: #fff;
  }
.logoText{
  margin: 0 0 0 10px;
}

.title{
  display: flex;
  align-items: flex-end;
  margin-left: 10px;
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #fff;
  text-align: center;
}
