.nav {
  grid-area: nav;
  margin: 10px 20px 0 0;
  background-color: #545554;
}
.item{
}
.item a {
	display: block;
	padding: 10px 20px;
	color: #fff;
	text-decoration: none;
}
.item a.activeLink{
	background: rgb(19, 175, 164);
}
