*{
  box-sizing: border-box;
}

.inner{
  background: #edeef0;
}
.container{
    width: 1200px;
  margin: 0 auto;
}

.app-wrapper {
  display: grid;
  width: 1200px;
  margin: 0 auto;
  grid-template-areas:
  "nav content content";
  grid-template-columns: 2fr 10fr;
}

.app-wrapper-content {
  grid-area: content;
  margin-top: 10px;
}
